.newsitem {
    font-size: 15px;
}

.ptr {
    cursor: pointer;
    font-size: 90%;
}

.author {
    font-size: 20px;
    padding-left: 50px;
    font-style: italic;
}

.newsitem > span {
    padding-left: 10px;
}