.newsitem {
    font-size: 30px;
    color: white;
   
}

.ptr {
    cursor: pointer;
    font-size: 90%;
    padding-right: 10px;
    font-size: 20px;
    color:rgb(146, 146, 146);
}

.author {
    font-size: 15px;
    padding-left: 50px;
    font-style: italic;
}

.newsitem > span {
    padding-left: 10px;
    
}
a {
    color: rgb(255, 255, 255);
    width: 50px
  }
.comments{
    font-size: 12px;
    font-style: bold;
    color: red;

  }

  .padding {
      padding-top: 35px;
  }