.form {
    position: relative;
    margin-top: 30px; 
    padding: 10px;
    color: white;
    float: right;
    height: 100%;
    background-color: rgb(21,32,43);
    padding-left: 70px;

}
.ptr {
    cursor: pointer;
  }