.font {
    padding-top: 200px;
    text-align: center;
    color: white;
  }

  .login{
    float: center;
    padding-left: 550px;
    padding-right: 550px;
    padding-top: 50px;
    text-align: center;

  }
  